In [94]:
#import the library used to query a website
from urllib.request import urlopen

#### Going scrape the following URL of makaan.com (Property listing site for Buy, Sell and Rent) to get  average rates for rent in apartment in various locality in kolkata

In [95]:
#specify the url to be scraped
site_url = "https://www.makaan.com/price-trends/property-rates-for-rent-in-kolkata"

In [96]:
#Query the website and return the html to the variable 'page'
page = urlopen(site_url)

In [97]:
#import the Beautiful soup functions to parse the data returned from the website
from bs4 import BeautifulSoup

In [98]:
#Parse the html in the 'page' variable, and store it in Beautiful Soup format
soup = BeautifulSoup(page, "lxml")

In [99]:
#Display the page title
soup.title.string

'Property Rent Rates in Kolkata - 2018 - Property Rent Price Trends in Kolkata'

### Finding our required table from where data to be retrieved.

In [100]:
right_table=soup.find('table', id='locality_apartment')
#right_table

### Storing the table column values to different lists

In [101]:
#Generate lists
A=[]
B=[]
C=[]
D=[]
for row in right_table.findAll("tr"):
    states = row.findAll('th') #To store second column data
    cells = row.findAll('td')    
    if len(cells)==7: #Only extract table body not heading
        A.append(cells[0].find(text=True))
        B.append(cells[2].find(text=True))
        C.append(cells[4].find(text=True))
        D.append(cells[6].find(text=True))

### Make a Pandas Dataframe from the above lists

In [102]:
#import pandas to convert list to data frame
import pandas as pd
df=pd.DataFrame(A,columns=['Locality'])
df['BHK_1_Avg_Rent']=B
df['BHK_2_Avg_Rent']=C
df['BHK_3_Avg_Rent']=D
df

                      Locality BHK_1_Avg_Rent BHK_2_Avg_Rent BHK_3_Avg_Rent
0                     New Town      10,140.63      14,666.67         22,000
1                     Rajarhat          9,000      12,632.95      17,838.23
2                      Dum Dum       4,666.67          8,500         14,000
3                   Tollygunge          9,000       22,808.7         33,000
4                      Airport              -              -              -
5                  Madhyamgram          7,500         10,250       12,33.33
6                         Joka              -         14,000      18,333.33
7                       Howrah              -         12,000         14,000
8                        Garia         12,000          7,500      24,631.58
9            Uttarpara Kotrung         20,000              -              -
10              Salt Lake City          4,900         16,500         23,500
11                     Sodepur              -          6,000         14,250
12                   Keshtopur          6,250          7,000         35,000
13                   Lake Town       8,333.33         14,375         18,000
14                      Tangra         13,000      29,987.18       36,55.56
15  Dum Dum Cantonment Kolkata          5,250          9,250              -
16                      Behala              -          8,250      19,385.71
17                   Belghoria              -         15,000      25,666.67
18                     Hooghly              -              -              -
19                 Narendrapur              -        13,62.5         23,125
20                    Kaikhali              -      11,766.67      19,476.19
21                  E M Bypass         15,000         16,800      38,522.97
22                   Baguihati          5,550         10,000         13,000
23                Jessore Road              -         10,500         42,700
24               Picnic Garden       5,928.57       9,861.29      18,666.67
25                Airport road              -              -              -
26                  Durganagar              -          8,500              -
27                   Serampore              -              -              -
28                    B T Road              -              -              -
29                     Barasat              -          8,500         10,000
30                    Konnagar              -              -              -
31                       Kasba          9,250       11,29.41         15,000
32                Dakshineswar              -              -              -
33                  Beliaghata      45,666.67      16,468.75      24,285.71
34                    Sonarpur              -              -         13,500
35                  Mukundapur          6,000      18,347.22      27,433.33
36                 Chinar Park              -         13,000         18,000
37           Hooghly Chinsurah         50,000              -              -
38                      birati              -              -              -
39                     Tiljala              -          8,750              -
40                 Phool Bagan              -          9,000      28,770.27
41                 Park Circus         12,000      24,117.65         22,000
42                 Thakurpukur          5,000      11,428.57         20,000
43                      Bangur              -      15,833.33         22,000
44       Bonhooghly on BT Road          6,500          6,000      16,333.33
45                   HINDMOTOR              -              -              -
46                 Kankurgachi         12,000         18,400         28,000
47                 New Alipore              -         14,625         32,500
48                  Ballygunge         12,000      28,888.89      64,533.33
49                    Baguiati          5,600       9,233.33         13,250
50        Kamarhati on BT Road              -              -              -
51                    Jadavpur          5,600          5,600      24,955.56
52        Diamond Harbour Road              -              -         30,000
53                Dum Dum Park       6,166.67         12,000      18,666.67
54      New Town Action Area I              -         15,000        17,62.5
55                  Santoshpur              -          9,000         31,500
56               Dum Dum Metro          4,720       6,692.31         12,000
57                     Alipore              -              -      53,571.43
58     Sector 1 Salt Lake City         10,000      18,925.93         25,000
59                      Dunlop          6,000          7,800          6,000

#### Let's drop those rows where BHK_1_Avg_Rent, BHK_2_Avg_Rent & BHK_3_Avg_Rent all are blank

In [103]:
df = df.drop(df[(df.BHK_1_Avg_Rent == '-') & (df.BHK_2_Avg_Rent == '-') & (df.BHK_3_Avg_Rent == '-')].index)
# reset index, because we droped two rows
df.reset_index(drop = True, inplace = True)
df

                      Locality BHK_1_Avg_Rent BHK_2_Avg_Rent BHK_3_Avg_Rent
0                     New Town      10,140.63      14,666.67         22,000
1                     Rajarhat          9,000      12,632.95      17,838.23
2                      Dum Dum       4,666.67          8,500         14,000
3                   Tollygunge          9,000       22,808.7         33,000
4                  Madhyamgram          7,500         10,250       12,33.33
5                         Joka              -         14,000      18,333.33
6                       Howrah              -         12,000         14,000
7                        Garia         12,000          7,500      24,631.58
8            Uttarpara Kotrung         20,000              -              -
9               Salt Lake City          4,900         16,500         23,500
10                     Sodepur              -          6,000         14,250
11                   Keshtopur          6,250          7,000         35,000
12                   Lake Town       8,333.33         14,375         18,000
13                      Tangra         13,000      29,987.18       36,55.56
14  Dum Dum Cantonment Kolkata          5,250          9,250              -
15                      Behala              -          8,250      19,385.71
16                   Belghoria              -         15,000      25,666.67
17                 Narendrapur              -        13,62.5         23,125
18                    Kaikhali              -      11,766.67      19,476.19
19                  E M Bypass         15,000         16,800      38,522.97
20                   Baguihati          5,550         10,000         13,000
21                Jessore Road              -         10,500         42,700
22               Picnic Garden       5,928.57       9,861.29      18,666.67
23                  Durganagar              -          8,500              -
24                     Barasat              -          8,500         10,000
25                       Kasba          9,250       11,29.41         15,000
26                  Beliaghata      45,666.67      16,468.75      24,285.71
27                    Sonarpur              -              -         13,500
28                  Mukundapur          6,000      18,347.22      27,433.33
29                 Chinar Park              -         13,000         18,000
30           Hooghly Chinsurah         50,000              -              -
31                     Tiljala              -          8,750              -
32                 Phool Bagan              -          9,000      28,770.27
33                 Park Circus         12,000      24,117.65         22,000
34                 Thakurpukur          5,000      11,428.57         20,000
35                      Bangur              -      15,833.33         22,000
36       Bonhooghly on BT Road          6,500          6,000      16,333.33
37                 Kankurgachi         12,000         18,400         28,000
38                 New Alipore              -         14,625         32,500
39                  Ballygunge         12,000      28,888.89      64,533.33
40                    Baguiati          5,600       9,233.33         13,250
41                    Jadavpur          5,600          5,600      24,955.56
42        Diamond Harbour Road              -              -         30,000
43                Dum Dum Park       6,166.67         12,000      18,666.67
44      New Town Action Area I              -         15,000        17,62.5
45                  Santoshpur              -          9,000         31,500
46               Dum Dum Metro          4,720       6,692.31         12,000
47                     Alipore              -              -      53,571.43
48     Sector 1 Salt Lake City         10,000      18,925.93         25,000
49                      Dunlop          6,000          7,800          6,000

#### Going to drop another two rows where the locality is absolutely out of Kolkata or seems irrelevant or Foursquare API does not provide results (row 1, 8, 30, 46)

In [104]:
df = df.drop([1, 8, 30, 46])
# reset index, because we droped two rows
df.reset_index(drop = True, inplace = True)
df

                      Locality BHK_1_Avg_Rent BHK_2_Avg_Rent BHK_3_Avg_Rent
0                     New Town      10,140.63      14,666.67         22,000
1                      Dum Dum       4,666.67          8,500         14,000
2                   Tollygunge          9,000       22,808.7         33,000
3                  Madhyamgram          7,500         10,250       12,33.33
4                         Joka              -         14,000      18,333.33
5                       Howrah              -         12,000         14,000
6                        Garia         12,000          7,500      24,631.58
7               Salt Lake City          4,900         16,500         23,500
8                      Sodepur              -          6,000         14,250
9                    Keshtopur          6,250          7,000         35,000
10                   Lake Town       8,333.33         14,375         18,000
11                      Tangra         13,000      29,987.18       36,55.56
12  Dum Dum Cantonment Kolkata          5,250          9,250              -
13                      Behala              -          8,250      19,385.71
14                   Belghoria              -         15,000      25,666.67
15                 Narendrapur              -        13,62.5         23,125
16                    Kaikhali              -      11,766.67      19,476.19
17                  E M Bypass         15,000         16,800      38,522.97
18                   Baguihati          5,550         10,000         13,000
19                Jessore Road              -         10,500         42,700
20               Picnic Garden       5,928.57       9,861.29      18,666.67
21                  Durganagar              -          8,500              -
22                     Barasat              -          8,500         10,000
23                       Kasba          9,250       11,29.41         15,000
24                  Beliaghata      45,666.67      16,468.75      24,285.71
25                    Sonarpur              -              -         13,500
26                  Mukundapur          6,000      18,347.22      27,433.33
27                 Chinar Park              -         13,000         18,000
28                     Tiljala              -          8,750              -
29                 Phool Bagan              -          9,000      28,770.27
30                 Park Circus         12,000      24,117.65         22,000
31                 Thakurpukur          5,000      11,428.57         20,000
32                      Bangur              -      15,833.33         22,000
33       Bonhooghly on BT Road          6,500          6,000      16,333.33
34                 Kankurgachi         12,000         18,400         28,000
35                 New Alipore              -         14,625         32,500
36                  Ballygunge         12,000      28,888.89      64,533.33
37                    Baguiati          5,600       9,233.33         13,250
38                    Jadavpur          5,600          5,600      24,955.56
39        Diamond Harbour Road              -              -         30,000
40                Dum Dum Park       6,166.67         12,000      18,666.67
41      New Town Action Area I              -         15,000        17,62.5
42                  Santoshpur              -          9,000         31,500
43                     Alipore              -              -      53,571.43
44     Sector 1 Salt Lake City         10,000      18,925.93         25,000
45                      Dunlop          6,000          7,800          6,000

#### Need to rename some localities

In [105]:
df['Locality'].replace(['Dum Dum Cantonment Kolkata'], 'Dum Dum Cantonment', inplace=True)
df['Locality'].replace(['E M Bypass'], 'EM Bypass', inplace=True)
df['Locality'].replace(['Durganagar'], 'Durga Nagar', inplace=True)
df['Locality'].replace(['birati'], 'Birati', inplace=True)
df['Locality'].replace(['Phool Bagan'], 'Phoolbagan', inplace=True)
df['Locality'].replace(['Bonhooghly on BT Road'], 'BT Road', inplace=True)
df['Locality'].replace(['Sector 1 Salt Lake City'], 'Sector 1', inplace=True)
df['Locality'].replace(['New Town Action Area I'], 'New Town AA1', inplace=True)
df

                Locality BHK_1_Avg_Rent BHK_2_Avg_Rent BHK_3_Avg_Rent
0               New Town      10,140.63      14,666.67         22,000
1                Dum Dum       4,666.67          8,500         14,000
2             Tollygunge          9,000       22,808.7         33,000
3            Madhyamgram          7,500         10,250       12,33.33
4                   Joka              -         14,000      18,333.33
5                 Howrah              -         12,000         14,000
6                  Garia         12,000          7,500      24,631.58
7         Salt Lake City          4,900         16,500         23,500
8                Sodepur              -          6,000         14,250
9              Keshtopur          6,250          7,000         35,000
10             Lake Town       8,333.33         14,375         18,000
11                Tangra         13,000      29,987.18       36,55.56
12    Dum Dum Cantonment          5,250          9,250              -
13                Behala              -          8,250      19,385.71
14             Belghoria              -         15,000      25,666.67
15           Narendrapur              -        13,62.5         23,125
16              Kaikhali              -      11,766.67      19,476.19
17             EM Bypass         15,000         16,800      38,522.97
18             Baguihati          5,550         10,000         13,000
19          Jessore Road              -         10,500         42,700
20         Picnic Garden       5,928.57       9,861.29      18,666.67
21           Durga Nagar              -          8,500              -
22               Barasat              -          8,500         10,000
23                 Kasba          9,250       11,29.41         15,000
24            Beliaghata      45,666.67      16,468.75      24,285.71
25              Sonarpur              -              -         13,500
26            Mukundapur          6,000      18,347.22      27,433.33
27           Chinar Park              -         13,000         18,000
28               Tiljala              -          8,750              -
29            Phoolbagan              -          9,000      28,770.27
30           Park Circus         12,000      24,117.65         22,000
31           Thakurpukur          5,000      11,428.57         20,000
32                Bangur              -      15,833.33         22,000
33               BT Road          6,500          6,000      16,333.33
34           Kankurgachi         12,000         18,400         28,000
35           New Alipore              -         14,625         32,500
36            Ballygunge         12,000      28,888.89      64,533.33
37              Baguiati          5,600       9,233.33         13,250
38              Jadavpur          5,600          5,600      24,955.56
39  Diamond Harbour Road              -              -         30,000
40          Dum Dum Park       6,166.67         12,000      18,666.67
41          New Town AA1              -         15,000        17,62.5
42            Santoshpur              -          9,000         31,500
43               Alipore              -              -      53,571.43
44              Sector 1         10,000      18,925.93         25,000
45                Dunlop          6,000          7,800          6,000

In [14]:
!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    openssl-1.0.2p             |       h470a237_1         3.1 MB  conda-forge
    certifi-2018.10.15         |        py36_1000         138 KB  conda-forge
    geopy-1.17.0               |             py_0          49 KB  conda-forge
    ca-certificates-2018.10.15 |       ha4d7672_0         135 KB  conda-forge
    conda-4.5.11               |        py36_1000         651 KB  conda-forge
    geographiclib-1.49         |             py_0          32 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         4.1 MB

The following NEW packages will be INSTALLED:

    geographiclib:   1.49-py_0            conda-forge
    geopy:           1.17.0-py_0          conda-forge

The following packages will be UPDATED:

    ca-certificates: 2018.8.24-ha4d7672_0 conda-forge --> 2018.10.15-ha4d7672_0 conda-forge
    certifi:         2018.8.24-py36_1001  conda-forge --> 2018.10.15-py36_1000  conda-forge
    conda:           4.5.11-py36_0        conda-forge --> 4.5.11-py36_1000      conda-forge
    openssl:         1.0.2p-h470a237_0    conda-forge --> 1.0.2p-h470a237_1     conda-forge


Downloading and Extracting Packages
openssl-1.0.2p       | 3.1 MB    | ##################################### | 100%
certifi-2018.10.15   | 138 KB    | ##################################### | 100%
geopy-1.17.0         | 49 KB     | ##################################### | 100%
ca-certificates-2018 | 135 KB    | ##################################### | 100%
conda-4.5.11         | 651 KB    | ##################################### | 100%
geographiclib-1.49   | 32 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [106]:
address = 'Kolkata, WB'

geolocator = Nominatim()
location = geolocator.geocode(address)
kol_latitude = location.latitude
kol_longitude = location.longitude
print('The geograpical coordinate of {} are {}, {}.'.format(address, kol_latitude, kol_longitude))

/home/jupyterlab/conda/lib/python3.6/site-packages/geopy/geocoders/osm.py:143: UserWarning: Using Nominatim with the default "geopy/1.17.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  UserWarning

The geograpical coordinate of Kolkata, WB are 22.5677459, 88.3476023.

#### Define Foursquare Credentials and Version

In [107]:
CLIENT_ID = 'FUXKTDIP0GJ5PJD43PQZBMVKCRQQ240MZDC0IAQBWNRSIZHY' # your Foursquare ID
CLIENT_SECRET = 'W43NUZK3RP5LRWLPOVFM5I5P5WFKZNSXBT1FK1VKCGWPHEM0' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

In [108]:
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

In [109]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [110]:
# function to fetch venues for different locality from Latlng
def get_venues(latitude, longitude, radius, limit):
    url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    latitude, 
    longitude, 
    radius, 
    limit)
    
    results = requests.get(url).json()
    venues = results['response']['groups'][0]['items']
    
    nearby_venues = json_normalize(venues) # flatten JSON

    # filter columns
    filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
    nearby_venues =nearby_venues.loc[:, filtered_columns]

    # filter the category for each row
    nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

    # clean columns
    nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]
    
    nearby_venues['Total'] = 0
    
    df_final = nearby_venues.groupby(['categories'], as_index=False)['Total'].count()

    return df_final

In [119]:
kolkata_cats = get_venues(kol_latitude, kol_longitude, 2000, 100)
kolkata_cats

                 categories  Total
0          Asian Restaurant      1
1                 BBQ Joint      2
2                    Bakery      2
3               Beer Garden      1
4        Bengali Restaurant      2
5             Boat or Ferry      1
6                 Bookstore      2
7                      Café      9
8        Chinese Restaurant      2
9               Coffee Shop      1
10           Cricket Ground      1
11      Dumpling Restaurant      1
12        Electronics Store      1
13     Fast Food Restaurant      2
14              Flea Market      1
15      Fried Chicken Joint      1
16          Harbor / Marina      1
17                    Hotel      8
18           Ice Cream Shop      1
19        Indian Restaurant      5
20        Indian Sweet Shop      1
21       Italian Restaurant      1
22      Japanese Restaurant      1
23                Juice Bar      1
24                   Lounge      1
25                   Market      1
26            Metro Station      1
27            Military Base      1
28       Mughlai Restaurant      3
29                Multiplex      1
30                   Museum      1
31             Neighborhood      1
32                Nightclub      2
33                     Park      1
34              Pizza Place      3
35                 Platform      3
36                    Plaza      1
37                     Pool      1
38                      Pub      3
39               Restaurant      3
40                    River      2
41           Sandwich Place      1
42               Shoe Store      1
43            Shopping Mall      2
44              Snack Place      1
45  South Indian Restaurant      2
46                  Stadium      1
47               Steakhouse      1
48               Taxi Stand      1
49                 Tea Room      1
50          Thai Restaurant      1

### Now let's try to loop through the Localities to get their Latitude and Longitude

In [111]:
# function that extracts the Latlng of the Locality
def get_latlng(index, locality):
    address = locality + ', Kolkata, WB'
    geolocator = Nominatim()
    location = geolocator.geocode(address)
    if(location is None):
        address = locality + ', WB'
        geolocator = Nominatim()
        location = geolocator.geocode(address)
    latitude = location.latitude
    longitude = location.longitude
    df['Latitude'][index] = latitude
    df['Longitude'][index] = longitude
    #print('The geograpical coordinate of {} are {}, {}.'.format(address, latitude, longitude))
print('Done!')

Done!

#### Adding two columns Latitude and Longitude to the df

In [112]:
df['Latitude'] = 0.00
df['Longitude'] = 0.00

In [113]:
df

,Locality,BHK_1_Avg_Rent,BHK_2_Avg_Rent,BHK_3_Avg_Rent,Latitude,Longitude
0,New Town,"10,140.63","14,666.67","22,000",0.0,0.0
1,Dum Dum,"4,666.67","8,500","14,000",0.0,0.0
2,Tollygunge,"9,000","22,808.7","33,000",0.0,0.0
3,Madhyamgram,"7,500","10,250","12,33.33",0.0,0.0
4,Joka,-,"14,000","18,333.33",0.0,0.0
5,Howrah,-,"12,000","14,000",0.0,0.0
6,Garia,"12,000","7,500","24,631.58",0.0,0.0
7,Salt Lake City,"4,900","16,500","23,500",0.0,0.0
8,Sodepur,-,"6,000","14,250",0.0,0.0
9,Keshtopur,"6,250","7,000","35,000",0.0,0.0
10,Lake Town,"8,333.33","14,375","18,000",0.0,0.0
11,Tangra,"13,000","29,987.18","36,55.56",0.0,0.0
12,Dum Dum Cantonment,"5,250","9,250",-,0.0,0.0
13,Behala,-,"8,250","19,385.71",0.0,0.0
14,Belghoria,-,"15,000","25,666.67",0.0,0.0
15,Narendrapur,-,"13,62.5","23,125",0.0,0.0
16,Kaikhali,-,"11,766.67","19,476.19",0.0,0.0
17,EM Bypass,"15,000","16,800","38,522.97",0.0,0.0
18,Baguihati,"5,550","10,000","13,000",0.0,0.0
19,Jessore Road,-,"10,500","42,700",0.0,0.0
20,Picnic Garden,"5,928.57","9,861.29","18,666.67",0.0,0.0
21,Durga Nagar,-,"8,500",-,0.0,0.0
22,Barasat,-,"8,500","10,000",0.0,0.0
23,Kasba,"9,250","11,29.41","15,000",0.0,0.0
24,Beliaghata,"45,666.67","16,468.75","24,285.71",0.0,0.0
25,Sonarpur,-,-,"13,500",0.0,0.0
26,Mukundapur,"6,000","18,347.22","27,433.33",0.0,0.0
27,Chinar Park,-,"13,000","18,000",0.0,0.0
28,Tiljala,-,"8,750",-,0.0,0.0
29,Phoolbagan,-,"9,000","28,770.27",0.0,0.0
30,Park Circus,"12,000","24,117.65","22,000",0.0,0.0
31,Thakurpukur,"5,000","11,428.57","20,000",0.0,0.0
32,Bangur,-,"15,833.33","22,000",0.0,0.0
33,BT Road,"6,500","6,000","16,333.33",0.0,0.0
34,Kankurgachi,"12,000","18,400","28,000",0.0,0.0
35,New Alipore,-,"14,625","32,500",0.0,0.0
36,Ballygunge,"12,000","28,888.89","64,533.33",0.0,0.0
37,Baguiati,"5,600","9,233.33","13,250",0.0,0.0
38,Jadavpur,"5,600","5,600","24,955.56",0.0,0.0
39,Diamond Harbour Road,-,-,"30,000",0.0,0.0
40,Dum Dum Park,"6,166.67","12,000","18,666.67",0.0,0.0
41,New Town AA1,-,"15,000","17,62.5",0.0,0.0
42,Santoshpur,-,"9,000","31,500",0.0,0.0
43,Alipore,-,-,"53,571.43",0.0,0.0
44,Sector 1,"10,000","18,925.93","25,000",0.0,0.0
45,Dunlop,"6,000","7,800","6,000",0.0,0.0

#### Now let's loop through the Localities and update their Latitude and Longitude

In [115]:
for index, row in df.iterrows():
   #print(row['Locality'], row['BHK_1_Avg_Rent'], row['BHK_2_Avg_Rent'], row['BHK_3_Avg_Rent'])
   get_latlng(index, row['Locality'])

/home/jupyterlab/conda/lib/python3.6/site-packages/geopy/geocoders/osm.py:143: UserWarning: Using Nominatim with the default "geopy/1.17.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  UserWarning
/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [116]:
df

,Locality,BHK_1_Avg_Rent,BHK_2_Avg_Rent,BHK_3_Avg_Rent,Latitude,Longitude
0,New Town,"10,140.63","14,666.67","22,000",22.588283,88.473448
1,Dum Dum,"4,666.67","8,500","14,000",22.624215,88.416856
2,Tollygunge,"9,000","22,808.7","33,000",22.500243,88.349049
3,Madhyamgram,"7,500","10,250","12,33.33",22.694792,88.453018
4,Joka,-,"14,000","18,333.33",22.452346,88.301827
5,Howrah,-,"12,000","14,000",22.584190,88.341251
6,Garia,"12,000","7,500","24,631.58",22.466133,88.405106
7,Salt Lake City,"4,900","16,500","23,500",22.573534,88.413266
8,Sodepur,-,"6,000","14,250",22.698037,88.380313
9,Keshtopur,"6,250","7,000","35,000",22.558309,88.467875
10,Lake Town,"8,333.33","14,375","18,000",22.605728,88.402961
11,Tangra,"13,000","29,987.18","36,55.56",22.556511,88.379595
12,Dum Dum Cantonment,"5,250","9,250",-,22.636490,88.412023
13,Behala,-,"8,250","19,385.71",22.500847,88.317961
14,Belghoria,-,"15,000","25,666.67",22.653193,88.437669
15,Narendrapur,-,"13,62.5","23,125",22.454624,88.418668
16,Kaikhali,-,"11,766.67","19,476.19",22.634421,88.434617
17,EM Bypass,"15,000","16,800","38,522.97",22.466221,88.392791
18,Baguihati,"5,550","10,000","13,000",22.610218,88.427972
19,Jessore Road,-,"10,500","42,700",22.679926,88.452295
20,Picnic Garden,"5,928.57","9,861.29","18,666.67",22.982326,88.423180
21,Durga Nagar,-,"8,500",-,22.467455,88.412684
22,Barasat,-,"8,500","10,000",22.225033,88.449647
23,Kasba,"9,250","11,29.41","15,000",22.514337,88.405636
24,Beliaghata,"45,666.67","16,468.75","24,285.71",22.550656,88.403917
25,Sonarpur,-,-,"13,500",22.443236,88.430470
26,Mukundapur,"6,000","18,347.22","27,433.33",22.495623,88.398441
27,Chinar Park,-,"13,000","18,000",22.623572,88.441105
28,Tiljala,-,"8,750",-,22.533851,88.370248
29,Phoolbagan,-,"9,000","28,770.27",22.572159,88.389421
30,Park Circus,"12,000","24,117.65","22,000",22.543156,88.365750
31,Thakurpukur,"5,000","11,428.57","20,000",22.464368,88.307529
32,Bangur,-,"15,833.33","22,000",22.611131,88.409175
33,BT Road,"6,500","6,000","16,333.33",22.726826,88.380991
34,Kankurgachi,"12,000","18,400","28,000",22.578972,88.391517
35,New Alipore,-,"14,625","32,500",22.510377,88.335787
36,Ballygunge,"12,000","28,888.89","64,533.33",22.519162,88.372192
37,Baguiati,"5,600","9,233.33","13,250",22.610218,88.427972
38,Jadavpur,"5,600","5,600","24,955.56",22.495108,88.374981
39,Diamond Harbour Road,-,-,"30,000",22.510931,88.321524
40,Dum Dum Park,"6,166.67","12,000","18,666.67",22.603406,88.423037
41,New Town AA1,-,"15,000","17,62.5",22.588283,88.473448
42,Santoshpur,-,"9,000","31,500",22.496048,88.382230
43,Sector 1,"10,000","18,925.93","25,000",22.567746,88.347602
44,Dunlop,"6,000","7,800","6,000",22.654321,88.359245

### Let's insert Kolkata's common top categories of facilities as column into the dataframe set initial count value to 0

In [120]:
for index, row in kolkata_cats.iterrows():
   df[row['categories']] = 0

In [121]:
df

,Locality,BHK_1_Avg_Rent,BHK_2_Avg_Rent,BHK_3_Avg_Rent,Latitude,Longitude,American Restaurant,Campground,Resort,Asian Restaurant,...,Sandwich Place,Shoe Store,Shopping Mall,Snack Place,South Indian Restaurant,Stadium,Steakhouse,Taxi Stand,Tea Room,Thai Restaurant
0,New Town,"10,140.63","14,666.67","22,000",22.588283,88.473448,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Dum Dum,"4,666.67","8,500","14,000",22.624215,88.416856,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Tollygunge,"9,000","22,808.7","33,000",22.500243,88.349049,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Madhyamgram,"7,500","10,250","12,33.33",22.694792,88.453018,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Joka,-,"14,000","18,333.33",22.452346,88.301827,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Howrah,-,"12,000","14,000",22.584190,88.341251,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Garia,"12,000","7,500","24,631.58",22.466133,88.405106,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Salt Lake City,"4,900","16,500","23,500",22.573534,88.413266,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Sodepur,-,"6,000","14,250",22.698037,88.380313,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Keshtopur,"6,250","7,000","35,000",22.558309,88.467875,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Lake Town,"8,333.33","14,375","18,000",22.605728,88.402961,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Tangra,"13,000","29,987.18","36,55.56",22.556511,88.379595,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,Dum Dum Cantonment,"5,250","9,250",-,22.636490,88.412023,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,Behala,-,"8,250","19,385.71",22.500847,88.317961,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,Belghoria,-,"15,000","25,666.67",22.653193,88.437669,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,Narendrapur,-,"13,62.5","23,125",22.454624,88.418668,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,Kaikhali,-,"11,766.67","19,476.19",22.634421,88.434617,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,EM Bypass,"15,000","16,800","38,522.97",22.466221,88.392791,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,Baguihati,"5,550","10,000","13,000",22.610218,88.427972,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Jessore Road,-,"10,500","42,700",22.679926,88.452295,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Picnic Garden,"5,928.57","9,861.29","18,666.67",22.982326,88.423180,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,Durga Nagar,-,"8,500",-,22.467455,88.412684,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,Barasat,-,"8,500","10,000",22.225033,88.449647,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Kasba,"9,250","11,29.41","15,000",22.514337,88.405636,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Beliaghata,"45,666.67","16,468.75","24,285.71",22.550656,88.403917,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,Sonarpur,-,-,"13,500",22.443236,88.430470,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,Mukundapur,"6,000","18,347.22","27,433.33",22.495623,88.398441,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Chinar Park,-,"13,000","18,000",22.623572,88.441105,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,Tiljala,-,"8,750",-,22.533851,88.370248,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,Phoolbagan,-,"9,000","28,770.27",22.572159,88.389421,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,Park Circus,"12,000","24,117.65","22,000",22.543156,88.365750,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,Thakurpukur,"5,000","11,428.57","20,000",22.464368,88.307529,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,Bangur,-,"15,833.33","22,000",22.611131,88.409175,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,BT Road,"6,500","6,000","16,333.33",22.726826,88.380991,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,Kankurgachi,"12,000","18,400","28,000",22.578972,88.391517,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,New Alipore,-,"14,625","32,500",22.510377,88.335787,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,Ballygunge,"12,000","28,888.89","64,533.33",22.519162,88.372192,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,Baguiati,"5,600","9,233.33","13,250",22.610218,88.427972,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,Jadavpur,"5,600","5,600","24,955.56",22.495108,88.374981,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39,Diamond Harbour Road,-,-,"30,000",22.510931,88.321524,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,Dum Dum Park,"6,166.67","12,000","18,666.67",22.603406,88.423037,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,New Town AA1,-,"15,000","17,62.5",22.588283,88.473448,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,Santoshpur,-,"9,000","31,500",22.496048,88.382230,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,Sector 1,"10,000","18,925.93","25,000",22.567746,88.347602,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,Dunlop,"6,000","7,800","6,000",22.654321,88.359245,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Now let's loop through the Localities and update the count of each facilities of that locality. Added new column if not already exists! Also adding and updating a column TotalFacilities which show total number of facilities (from all categories) available for that locality.

In [146]:
df['TotalFacilities'] = 0

In [151]:
for index, row in df.iterrows(): 
   loc_cats = get_venues(row['Latitude'], row['Longitude'], 2000, 100)
   for index2, row2 in loc_cats.iterrows():
      if row2['categories'] in df.columns:  
         df[row2['categories']][index] = row2['Total']  
      else: 
         df[row2['categories']] = 0 
         df[row2['categories']][index] = row2['Total']
        
   df['TotalFacilities'][index] = sum(loc_cats['Total'])

/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [152]:
df

,Locality,BHK_1_Avg_Rent,BHK_2_Avg_Rent,BHK_3_Avg_Rent,Latitude,Longitude,American Restaurant,Campground,Resort,Asian Restaurant,...,Hotel Pool,Gastropub,Mexican Restaurant,Planetarium,Theme Restaurant,Paper / Office Supplies Store,Dessert Shop,Social Club,Sector_V_Dist,TotalFacilities
0,New Town,"10,140.63","14,666.67","22,000",22.588283,88.473448,0,0,0,0,...,0,0,0,0,0,0,0,0,3.80,18
1,Dum Dum,"4,666.67","8,500","14,000",22.624215,88.416856,0,0,0,0,...,0,0,0,0,0,0,0,0,5.36,10
2,Tollygunge,"9,000","22,808.7","33,000",22.500243,88.349049,0,0,0,3,...,0,0,0,0,0,0,0,0,12.68,50
3,Madhyamgram,"7,500","10,250","12,33.33",22.694792,88.453018,0,0,0,1,...,0,0,0,0,0,0,0,0,12.83,11
4,Joka,-,"14,000","18,333.33",22.452346,88.301827,0,0,0,0,...,0,0,0,0,0,0,0,0,19.87,4
5,Howrah,-,"12,000","14,000",22.584190,88.341251,0,0,0,0,...,0,0,0,0,0,0,0,0,9.93,13
6,Garia,"12,000","7,500","24,631.58",22.466133,88.405106,0,0,0,0,...,0,0,0,0,0,0,0,0,13.03,5
7,Salt Lake City,"4,900","16,500","23,500",22.573534,88.413266,1,0,1,0,...,0,0,0,0,0,0,0,0,2.61,75
8,Sodepur,-,"6,000","14,250",22.698037,88.380313,0,0,0,0,...,0,0,0,0,0,0,0,0,14.36,6
9,Keshtopur,"6,250","7,000","35,000",22.558309,88.467875,0,0,0,0,...,0,0,0,0,0,0,0,0,3.92,2
10,Lake Town,"8,333.33","14,375","18,000",22.605728,88.402961,0,0,0,0,...,0,0,0,0,0,0,0,0,4.58,20
11,Tangra,"13,000","29,987.18","36,55.56",22.556511,88.379595,0,0,0,1,...,0,0,0,0,0,0,0,0,6.51,16
12,Dum Dum Cantonment,"5,250","9,250",-,22.636490,88.412023,0,0,0,0,...,0,0,0,0,0,0,0,0,6.80,4
13,Behala,-,"8,250","19,385.71",22.500847,88.317961,0,0,0,0,...,0,0,0,0,0,0,0,0,15.11,14
14,Belghoria,-,"15,000","25,666.67",22.653193,88.437669,0,0,0,1,...,0,0,0,0,0,0,0,0,8.12,19
15,Narendrapur,-,"13,62.5","23,125",22.454624,88.418668,0,0,0,0,...,0,0,0,0,0,0,0,0,14.00,5
16,Kaikhali,-,"11,766.67","19,476.19",22.634421,88.434617,0,0,0,0,...,0,0,0,0,0,0,0,0,6.05,25
17,EM Bypass,"15,000","16,800","38,522.97",22.466221,88.392791,0,0,0,0,...,0,0,0,0,0,0,0,0,13.40,8
18,Baguihati,"5,550","10,000","13,000",22.610218,88.427972,0,0,0,0,...,0,0,0,0,0,0,0,0,3.51,20
19,Jessore Road,-,"10,500","42,700",22.679926,88.452295,0,0,0,0,...,0,0,0,0,0,0,0,0,11.18,4
20,Picnic Garden,"5,928.57","9,861.29","18,666.67",22.982326,88.423180,0,0,0,0,...,0,0,0,0,0,0,0,0,44.60,4
21,Durga Nagar,-,"8,500",-,22.467455,88.412684,0,0,0,0,...,0,0,0,0,0,0,0,0,12.71,6
22,Barasat,-,"8,500","10,000",22.225033,88.449647,0,0,0,0,...,0,0,0,0,0,0,0,0,39.31,2
23,Kasba,"9,250","11,29.41","15,000",22.514337,88.405636,0,0,0,0,...,0,0,0,0,0,0,0,0,7.97,19
24,Beliaghata,"45,666.67","16,468.75","24,285.71",22.550656,88.403917,0,0,0,1,...,0,0,0,0,0,0,0,0,4.74,19
25,Sonarpur,-,-,"13,500",22.443236,88.430470,0,0,0,0,...,0,0,0,0,0,0,0,0,15.15,5
26,Mukundapur,"6,000","18,347.22","27,433.33",22.495623,88.398441,0,0,0,0,...,0,0,0,0,0,0,0,0,10.16,8
27,Chinar Park,-,"13,000","18,000",22.623572,88.441105,0,0,0,0,...,0,0,0,0,0,0,0,0,4.86,20
28,Tiljala,-,"8,750",-,22.533851,88.370248,0,0,0,0,...,0,0,0,0,0,0,0,0,8.60,84
29,Phoolbagan,-,"9,000","28,770.27",22.572159,88.389421,0,0,0,0,...,1,0,0,0,0,0,0,0,5.03,28
30,Park Circus,"12,000","24,117.65","22,000",22.543156,88.365750,2,0,0,2,...,0,1,2,1,1,0,0,0,8.44,100
31,Thakurpukur,"5,000","11,428.57","20,000",22.464368,88.307529,0,0,0,0,...,0,0,0,0,0,0,0,0,18.51,4
32,Bangur,-,"15,833.33","22,000",22.611131,88.409175,0,0,0,1,...,0,0,0,0,0,0,0,0,4.54,22
33,BT Road,"6,500","6,000","16,333.33",22.726826,88.380991,0,0,0,0,...,0,0,0,0,0,0,0,0,17.29,6
34,Kankurgachi,"12,000","18,400","28,000",22.578972,88.391517,0,0,0,0,...,1,0,0,0,0,1,0,0,4.75,40
35,New Alipore,-,"14,625","32,500",22.510377,88.335787,0,0,0,3,...,0,0,0,0,0,0,1,1,13.00,41
36,Ballygunge,"12,000","28,888.89","64,533.33",22.519162,88.372192,0,0,0,1,...,0,0,0,0,0,0,0,0,9.51,52
37,Baguiati,"5,600","9,233.33","13,250",22.610218,88.427972,0,0,0,0,...,0,0,0,0,0,0,0,0,3.51,20
38,Jadavpur,"5,600","5,600","24,955.56",22.495108,88.374981,0,0,0,1,...,0,0,0,0,0,0,0,0,11.39,29
39,Diamond Harbour Road,-,-,"30,000",22.510931,88.321524,0,0,0,1,...,0,0,0,0,0,0,1,0,14.18,16
40,Dum Dum Park,"6,166.67","12,000","18,666.67",22.603406,88.423037,0,0,0,0,...,0,0,0,0,0,0,0,0,3.01,24
41,New Town AA1,-,"15,000","17,62.5",22.588283,88.473448,0,0,0,0,...,0,0,0,0,0,0,0,0,3.80,18
42,Santoshpur,-,"9,000","31,500",22.496048,88.382230,0,0,0,1,...,0,0,0,0,0,0,0,0,10.89,13
43,Sector 1,"10,000","18,925.93","25,000",22.567746,88.347602,0,0,0,1,...,0,0,0,0,0,0,0,0,9.36,90
44,Dunlop,"6,000","7,800","6,000",22.654321,88.359245,0,0,0,0,...,0,0,0,0,0,0,0,0,11.53,8

#### Now let's loop through the Localities to calculate and update the corresponding distance of each locality from Sector V, Kolkata.

In [125]:
import geopy.distance

In [131]:
address = 'Sector V, Kolkata, WB'

geolocator = Nominatim()
location = geolocator.geocode(address)
kol_latitude = location.latitude
kol_longitude = location.longitude
print('The geograpical coordinate of {} are {}, {}.'.format(address, kol_latitude, kol_longitude))

/home/jupyterlab/conda/lib/python3.6/site-packages/geopy/geocoders/osm.py:143: UserWarning: Using Nominatim with the default "geopy/1.17.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  UserWarning

The geograpical coordinate of Sector V, Kolkata, WB are 22.5798447, 88.4376736.

### Calculate and update the distance from each locality to Sector V in KM

In [143]:
for index, row in df.iterrows(): 
   coords_1 = (22.5798447, 88.4376736)
   coords_2 = (row['Latitude'], row['Longitude'])

   dist = round(geopy.distance.vincenty(coords_1, coords_2).km, 2) 
   df['Sector_V_Dist'][index] = dist

/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### Yes, we have achieved our final Dataframe with BHK_1_Avg_Rent, BHK_2_Avg_Rent and BHK_3_Avg_Rent, total number of each facilities, total number of facilities (from all categories) and the distance to the Locality from Sector V

In [153]:
df

,Locality,BHK_1_Avg_Rent,BHK_2_Avg_Rent,BHK_3_Avg_Rent,Latitude,Longitude,American Restaurant,Campground,Resort,Asian Restaurant,...,Hotel Pool,Gastropub,Mexican Restaurant,Planetarium,Theme Restaurant,Paper / Office Supplies Store,Dessert Shop,Social Club,Sector_V_Dist,TotalFacilities
0,New Town,"10,140.63","14,666.67","22,000",22.588283,88.473448,0,0,0,0,...,0,0,0,0,0,0,0,0,3.80,18
1,Dum Dum,"4,666.67","8,500","14,000",22.624215,88.416856,0,0,0,0,...,0,0,0,0,0,0,0,0,5.36,10
2,Tollygunge,"9,000","22,808.7","33,000",22.500243,88.349049,0,0,0,3,...,0,0,0,0,0,0,0,0,12.68,50
3,Madhyamgram,"7,500","10,250","12,33.33",22.694792,88.453018,0,0,0,1,...,0,0,0,0,0,0,0,0,12.83,11
4,Joka,-,"14,000","18,333.33",22.452346,88.301827,0,0,0,0,...,0,0,0,0,0,0,0,0,19.87,4
5,Howrah,-,"12,000","14,000",22.584190,88.341251,0,0,0,0,...,0,0,0,0,0,0,0,0,9.93,13
6,Garia,"12,000","7,500","24,631.58",22.466133,88.405106,0,0,0,0,...,0,0,0,0,0,0,0,0,13.03,5
7,Salt Lake City,"4,900","16,500","23,500",22.573534,88.413266,1,0,1,0,...,0,0,0,0,0,0,0,0,2.61,75
8,Sodepur,-,"6,000","14,250",22.698037,88.380313,0,0,0,0,...,0,0,0,0,0,0,0,0,14.36,6
9,Keshtopur,"6,250","7,000","35,000",22.558309,88.467875,0,0,0,0,...,0,0,0,0,0,0,0,0,3.92,2
10,Lake Town,"8,333.33","14,375","18,000",22.605728,88.402961,0,0,0,0,...,0,0,0,0,0,0,0,0,4.58,20
11,Tangra,"13,000","29,987.18","36,55.56",22.556511,88.379595,0,0,0,1,...,0,0,0,0,0,0,0,0,6.51,16
12,Dum Dum Cantonment,"5,250","9,250",-,22.636490,88.412023,0,0,0,0,...,0,0,0,0,0,0,0,0,6.80,4
13,Behala,-,"8,250","19,385.71",22.500847,88.317961,0,0,0,0,...,0,0,0,0,0,0,0,0,15.11,14
14,Belghoria,-,"15,000","25,666.67",22.653193,88.437669,0,0,0,1,...,0,0,0,0,0,0,0,0,8.12,19
15,Narendrapur,-,"13,62.5","23,125",22.454624,88.418668,0,0,0,0,...,0,0,0,0,0,0,0,0,14.00,5
16,Kaikhali,-,"11,766.67","19,476.19",22.634421,88.434617,0,0,0,0,...,0,0,0,0,0,0,0,0,6.05,25
17,EM Bypass,"15,000","16,800","38,522.97",22.466221,88.392791,0,0,0,0,...,0,0,0,0,0,0,0,0,13.40,8
18,Baguihati,"5,550","10,000","13,000",22.610218,88.427972,0,0,0,0,...,0,0,0,0,0,0,0,0,3.51,20
19,Jessore Road,-,"10,500","42,700",22.679926,88.452295,0,0,0,0,...,0,0,0,0,0,0,0,0,11.18,4
20,Picnic Garden,"5,928.57","9,861.29","18,666.67",22.982326,88.423180,0,0,0,0,...,0,0,0,0,0,0,0,0,44.60,4
21,Durga Nagar,-,"8,500",-,22.467455,88.412684,0,0,0,0,...,0,0,0,0,0,0,0,0,12.71,6
22,Barasat,-,"8,500","10,000",22.225033,88.449647,0,0,0,0,...,0,0,0,0,0,0,0,0,39.31,2
23,Kasba,"9,250","11,29.41","15,000",22.514337,88.405636,0,0,0,0,...,0,0,0,0,0,0,0,0,7.97,19
24,Beliaghata,"45,666.67","16,468.75","24,285.71",22.550656,88.403917,0,0,0,1,...,0,0,0,0,0,0,0,0,4.74,19
25,Sonarpur,-,-,"13,500",22.443236,88.430470,0,0,0,0,...,0,0,0,0,0,0,0,0,15.15,5
26,Mukundapur,"6,000","18,347.22","27,433.33",22.495623,88.398441,0,0,0,0,...,0,0,0,0,0,0,0,0,10.16,8
27,Chinar Park,-,"13,000","18,000",22.623572,88.441105,0,0,0,0,...,0,0,0,0,0,0,0,0,4.86,20
28,Tiljala,-,"8,750",-,22.533851,88.370248,0,0,0,0,...,0,0,0,0,0,0,0,0,8.60,84
29,Phoolbagan,-,"9,000","28,770.27",22.572159,88.389421,0,0,0,0,...,1,0,0,0,0,0,0,0,5.03,28
30,Park Circus,"12,000","24,117.65","22,000",22.543156,88.365750,2,0,0,2,...,0,1,2,1,1,0,0,0,8.44,100
31,Thakurpukur,"5,000","11,428.57","20,000",22.464368,88.307529,0,0,0,0,...,0,0,0,0,0,0,0,0,18.51,4
32,Bangur,-,"15,833.33","22,000",22.611131,88.409175,0,0,0,1,...,0,0,0,0,0,0,0,0,4.54,22
33,BT Road,"6,500","6,000","16,333.33",22.726826,88.380991,0,0,0,0,...,0,0,0,0,0,0,0,0,17.29,6
34,Kankurgachi,"12,000","18,400","28,000",22.578972,88.391517,0,0,0,0,...,1,0,0,0,0,1,0,0,4.75,40
35,New Alipore,-,"14,625","32,500",22.510377,88.335787,0,0,0,3,...,0,0,0,0,0,0,1,1,13.00,41
36,Ballygunge,"12,000","28,888.89","64,533.33",22.519162,88.372192,0,0,0,1,...,0,0,0,0,0,0,0,0,9.51,52
37,Baguiati,"5,600","9,233.33","13,250",22.610218,88.427972,0,0,0,0,...,0,0,0,0,0,0,0,0,3.51,20
38,Jadavpur,"5,600","5,600","24,955.56",22.495108,88.374981,0,0,0,1,...,0,0,0,0,0,0,0,0,11.39,29
39,Diamond Harbour Road,-,-,"30,000",22.510931,88.321524,0,0,0,1,...,0,0,0,0,0,0,1,0,14.18,16
40,Dum Dum Park,"6,166.67","12,000","18,666.67",22.603406,88.423037,0,0,0,0,...,0,0,0,0,0,0,0,0,3.01,24
41,New Town AA1,-,"15,000","17,62.5",22.588283,88.473448,0,0,0,0,...,0,0,0,0,0,0,0,0,3.80,18
42,Santoshpur,-,"9,000","31,500",22.496048,88.382230,0,0,0,1,...,0,0,0,0,0,0,0,0,10.89,13
43,Sector 1,"10,000","18,925.93","25,000",22.567746,88.347602,0,0,0,1,...,0,0,0,0,0,0,0,0,9.36,90
44,Dunlop,"6,000","7,800","6,000",22.654321,88.359245,0,0,0,0,...,0,0,0,0,0,0,0,0,11.53,8

### You are now able to choose the appropiate locality to rent out as your requirement and pocket!

In [154]:
df_summerized = df[['Locality', 'BHK_1_Avg_Rent', 'BHK_2_Avg_Rent', 'BHK_3_Avg_Rent', 'Sector_V_Dist', 'TotalFacilities']]

In [155]:
df_summerized

,Locality,BHK_1_Avg_Rent,BHK_2_Avg_Rent,BHK_3_Avg_Rent,Sector_V_Dist,TotalFacilities
0,New Town,"10,140.63","14,666.67","22,000",3.80,18
1,Dum Dum,"4,666.67","8,500","14,000",5.36,10
2,Tollygunge,"9,000","22,808.7","33,000",12.68,50
3,Madhyamgram,"7,500","10,250","12,33.33",12.83,11
4,Joka,-,"14,000","18,333.33",19.87,4
5,Howrah,-,"12,000","14,000",9.93,13
6,Garia,"12,000","7,500","24,631.58",13.03,5
7,Salt Lake City,"4,900","16,500","23,500",2.61,75
8,Sodepur,-,"6,000","14,250",14.36,6
9,Keshtopur,"6,250","7,000","35,000",3.92,2
10,Lake Town,"8,333.33","14,375","18,000",4.58,20
11,Tangra,"13,000","29,987.18","36,55.56",6.51,16
12,Dum Dum Cantonment,"5,250","9,250",-,6.80,4
13,Behala,-,"8,250","19,385.71",15.11,14
14,Belghoria,-,"15,000","25,666.67",8.12,19
15,Narendrapur,-,"13,62.5","23,125",14.00,5
16,Kaikhali,-,"11,766.67","19,476.19",6.05,25
17,EM Bypass,"15,000","16,800","38,522.97",13.40,8
18,Baguihati,"5,550","10,000","13,000",3.51,20
19,Jessore Road,-,"10,500","42,700",11.18,4
20,Picnic Garden,"5,928.57","9,861.29","18,666.67",44.60,4
21,Durga Nagar,-,"8,500",-,12.71,6
22,Barasat,-,"8,500","10,000",39.31,2
23,Kasba,"9,250","11,29.41","15,000",7.97,19
24,Beliaghata,"45,666.67","16,468.75","24,285.71",4.74,19
25,Sonarpur,-,-,"13,500",15.15,5
26,Mukundapur,"6,000","18,347.22","27,433.33",10.16,8
27,Chinar Park,-,"13,000","18,000",4.86,20
28,Tiljala,-,"8,750",-,8.60,84
29,Phoolbagan,-,"9,000","28,770.27",5.03,28
30,Park Circus,"12,000","24,117.65","22,000",8.44,100
31,Thakurpukur,"5,000","11,428.57","20,000",18.51,4
32,Bangur,-,"15,833.33","22,000",4.54,22
33,BT Road,"6,500","6,000","16,333.33",17.29,6
34,Kankurgachi,"12,000","18,400","28,000",4.75,40
35,New Alipore,-,"14,625","32,500",13.00,41
36,Ballygunge,"12,000","28,888.89","64,533.33",9.51,52
37,Baguiati,"5,600","9,233.33","13,250",3.51,20
38,Jadavpur,"5,600","5,600","24,955.56",11.39,29
39,Diamond Harbour Road,-,-,"30,000",14.18,16
40,Dum Dum Park,"6,166.67","12,000","18,666.67",3.01,24
41,New Town AA1,-,"15,000","17,62.5",3.80,18
42,Santoshpur,-,"9,000","31,500",10.89,13
43,Sector 1,"10,000","18,925.93","25,000",9.36,90
44,Dunlop,"6,000","7,800","6,000",11.53,8

# Thank You!!!